@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'LiberRegular';
  src: url('/fonts/LiberRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
